* { box-sizing: border-box;}

:root {
    --font-family: "Permanent Marker", cursive;
}

body {
    margin: 0;
    padding: 0;
    background-color: cadetblue;
}

#header {
    background-color: #3b413c;
}

.mangaTitle {
    color: orangered;
    font-family: var(--font-family);
}

.log {
    color: wheat;
}

#formMain {
    border: 2px solid wheat;
}

.nav-link {
    /* border: 1px solid blue; */
    color: white;
}

.nav-link {
    color: cadetblue;
}

.nav-link:hover {
    background-color: orangered;
    border-radius: 10px;
    transition: 1s ease;
    color: white;
}

.card-title {
    font-size: large;
    color: black;
    background-color: black;
    border-radius: 10px;
}